@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" background: rgb(220, 20, 60, 0.6)>
    <h1 class="display-4" style="color:red">Welcome to Temperature Converter!</h1>
    <div>This powerful tool can easily convert units of temperature measurement from Celsius °C to Fahrenheit °F.</div>
    <div>To convert Celsius to Fahrenheit in one line, you can use the formula: Fahrenheit = Celsius * 9/5 + 32.</div>
    
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
